* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
::-webkit-scrollbar {
  display: none;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.home-page {
  display: flex;
  flex-direction: column;
}
.home-container {
  display: flex;
  padding: 60px 0 600px 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: black;
}
.H {
  font-size: 9rem;
  color: rgb(39, 121, 153);
  font-family: Georgia, "Times New Roman", Times, serif;
}
.home-text-big p {
  font-size: 5rem;
  color: rgb(211, 211, 211);
  font-family: "Roboto Slab", serif;
  margin-left: -50px;
}
.home-text {
  color: rgb(212, 212, 212);
  font-family: "Roboto Slab", serif;
  font-size: 2rem;
}
.me-container {
  position: absolute;
  margin-top: 420px;
  right: 14vw;
  top: 80px;
  z-index: 1000;
}
.me {
  height: 450px;
  width: 280px;
  filter: grayscale(1);
  transition-duration: 1500ms;
  border: 3px solid rgb(39, 121, 153);
  border-width: 0 0 5px 5px;
  box-sizing: content-box;
}
.me:hover {
  filter: grayscale(0);
  transition-duration: 1500ms;
}
.fond {
  width: 100%;
  filter: grayscale(60%);
  filter: blur(1px);
  z-index: 1;
}
.projets-title {
  display: flex;
  z-index: 1000;
  justify-content: center;
  margin-top: -10px;
  height: 150px;
  font-size: 1.5rem;
  align-items: center;
  font-family: "Roboto Slab", serif;
  background-color: rgba(124, 135, 136, 0.616);
}
.projets-container {
  margin: 90px 50px;
}
.web-site-container {
  max-width: 330px;
  height: 660px;
  font-size: 1.2rem;
  background-color: rgb(39, 121, 153);
}
.web-site-container p {
  padding: 10px;
  text-decoration: none;
  list-style: none;
  color: rgb(216, 216, 216);
  font-family: Comfortaa;
  font-size: 1.2rem;
}
.about-title {
  display: flex;
  justify-content: center;
  height: 150px;
  font-size: 1.5rem;
  align-items: center;
  font-family: "Roboto Slab", serif;
  background-color: rgb(39, 121, 153);
}
.about-text {
  margin: 90px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 800px;
  font-size: 1.2rem;
  font-family: "Roboto Slab", serif;
  color: rgb(117, 117, 117);
}
.about-text h2 {
  font-size: 2rem;
  font-family: "Roboto Slab", serif;
  color: black;
  margin-left: -15px;
}
.about-page {
  max-height: 100vh;
  display: flex;
  justify-content: center;
}
.C {
  font-size: 4.8rem;
  color: rgb(39, 121, 153);
  font-family: Georgia, "Times New Roman", Times, serif;
}
.contact-title {
  font-family: "Roboto Slab", serif;
  font-size: 2.8rem;
  color: rgb(185, 185, 185);
  padding-bottom: 3rem;
}
.contact-page {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0 50px 0;
}
.contact-link ul li {
  font-family: Comfortaa;
  font-size: 2rem;
  padding: 1.6rem;
  width: max-content;
  color: rgb(185, 185, 185);
  transition-duration: 800ms;
}
.contact-link ul li:hover {
  color: rgb(39, 121, 153);
  transition-duration: 800ms;
}
